<%- include ('partials/header.ejs') %>

    <body>
        <%- include ('partials/navbar.ejs') %>
            <div class="container mt-4">
                <br>
                <hr>
                <h1>Perguntar</h1>
                <hr>
                <a href="/perguntar" class="btn btn-success">Perguntar</a>
                <hr>
                <% perguntas.forEach(perguntas=>{ %>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h3>
                                <%= perguntas.titulo %>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <a href="/pergunta/<%= perguntas.id %>" class="btn btn-success">Responder</a>
                        </div>
                    </div>
                    <% }) %>
            </div>
    </body>
    <%- include ('partials/footer.ejs') %>